PORT=3333
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=notemusic_secret_key_2024
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:8081

# Configurações de Email (para recuperação de senha)
# Para Gmail: usar App Password gerada nas configurações de segurança
EMAIL_USER=notemusic.oficial@gmail.com
EMAIL_PASS=daniel250900